

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Contact Me

        </h1>
        <ol class="breadcrumb">
            <li><a><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Contact Me</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
    <div class="row">
        <!--<div class="col-md-7">
            <div class="panel panel-info" style="min-height:453px;">
                <div class="panel-heading">
                    Send me a Message
                </div>
                <div class="panel-body">
                    <form data-ng-submit="vm.submitForm();" name="vm.contactForm">
                        <md-content class="autoScroll">
                            <md-input-container class="md-icon-float md-block">
                                <label>Name</label>
                                <md-icon class="fa fa-user"></md-icon>
                                <input type="text" required name="name" data-ng-model="vm.message.name">
                            </md-input-container>

                            <md-input-container class="md-icon-float md-block">
                                <label>Phone</label>
                                <md-icon class="fa fa-phone"></md-icon>
                                <input type="text" required name="phone" data-ng-model="vm.message.phone" pattern="[0-9]{10,12}">
                            </md-input-container>

                            <md-input-container class="md-icon-float md-block">
                                <label>Email</label>
                                <md-icon class="fa fa-envelope"></md-icon>
                                <input type="email" required name="email" data-ng-model="vm.message.email">
                            </md-input-container>

                            <md-input-container class="md-icon-float md-block">
                                <label>Your Message</label>
                                <md-icon class="fa fa-clipboard"></md-icon>
                                <input type="text" required name="message" data-ng-model="vm.message.message">
                            </md-input-container>
                            <div class="pull-right">
                                <md-button class="md-raised md-primary" type="submit">Send <i class="fa fa-angle-double-right"></i></md-button>
                                <md-button class="md-raised md-warn" type="reset">Clear <i class="fa fa-trash-o"></i></md-button>
                            </div>
                        </md-content>
                    </form>
                </div>
            </div>
        </div>-->
        <div class="col-md-6">
            <div class="col-xs-12 padding-none">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        Email Id
                    </div>
                    <div class="panel-body">
                        <i class="fa fa-envelope" style="width:25px;"></i><a href="mailto:ravalir64@gmail.com"> ravalir64@gmail.com</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 padding-none">
                <div class="panel panel-info">
                    <div class="panel-heading">
                       LinkedIn 
                    </div>
                    <div class="panel-body">
                        <i class="fa fa-linkedin" style="width:25px;"></i> <a href="http://www.linkedin.com/in/ravali-narayan" target="_blank"> http://www.linkedin.com/in/ravali-narayan</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 padding-none">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                       Download Resume 
                    </div>
                    <div class="panel-body">
                        <i class="fa fa-file-text-o" style="width:25px;"></i> <a href="../../../../images/RAVALI_FRONTEND_DEVELOPER _RESUME.docx" download target="_blank"><i class="fa fa-download" aria-hidden="true"></i> Download resume</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 padding-none">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Contact Number
                    </div>
                    <div class="panel-body">
                        <i class="fa fa-mobile" style="width:25px;"></i> <a href="tel:(919)-561-0550"> +1 (919)-561-0550</a><br />
                        <!--<i class="fa fa-mobile" style="width:25px;"></i> <a href="tel:(919)-561-0550"> +1 (919)-561-0550</a>-->
                    </div>
                </div>
            </div>
            <!--<div class="col-xs-12 padding-none">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        Github
                    </div>
                    <div class="panel-body">
                        <i class="fa fa-github" style="width:25px;"></i><a href="" target="_blank">  </a>

                    </div>
                </div>
            </div>-->
        </div>

    </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-warning">
                    <div class="panel-body">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3305.260101008028!2d-84.24616418544291!3d34.06284608060299!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f59fb4a8c94119%3A0xd63cdf6da456597c!2s46+Sweetberry+Ct%2C+Alpharetta%2C+GA+30005!5e0!3m2!1sen!2sus!4v1499009074934"  height="450" frameborder="0" style="border:0;width:100%;" allowfullscreen></iframe>

                    </div>
                </div>
                
            </div>
        </div>
    </section><!-- /.content -->

