
<section class="content-header">
    <h1>
        Professional Experience
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Experience</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- row -->
    <div class="row">
        <div class="col-md-12">
            <!-- The time line -->
            <ul class="timeline">
                <li class="time-label">
                    <span class="bg-red-gradient">
                        Feb 2017 - May 2017
                    </span>
                </li>
                <li>
                    <i class="fa fa-suitcase bg-blue-gradient text-white"></i>
                    <div class="timeline-item">
                        <span class="time text-bold"> Contract</span>
                        <h3 class="timeline-header"><a href="http://kmitsolutions.com" target="_blank">Front End Developer - Vuesol Technologies</a></h3>
                        <div class="timeline-body">
                            <ul>
                                <li>Developing Web applications</li>      
                                <li>Developing E-banking sites</li>
                                <li>Integrating web apps with API</li>
                            </ul>

                        </div>
                        <div class="timeline-footer">
                            <p>
                                <span class="label label-danger">HTML 5</span>
                                <span class="label label-success">CSS 3</span>
                                <span class="label label-warning">Java Script</span>
                                <span class="label label-primary">Bootstrap</span>
                                <span class="label label-danger">jQuery</span>
                                <span class="label label-info">Angular JS</span>
                            </p> 
                        </div>
                    </div>
                </li>
                <li class="time-label">
                    <span class="bg-green-gradient">
                        Aug 2016 - Dec 2016
                    </span>
                </li>
                <li>
                    <i class="fa fa-pencil-square-o bg-yellow-gradient text-white"></i>
                    <div class="timeline-item">
                        <span class="time text-bold"> Contract</span>
                        <h3 class="timeline-header"><a>UI Developer - Sharplink Software </a></h3>
                        <div class="timeline-body">
                            <ul>
                                <li>Designing Loogo, Visiting Card, Brochures, Flex etc.,</li>
                                <li>Designing static Websites</li>
                                <li>Hosting and Domain Management</li>
                                <li>Did UI Designs and Mockups </li>
                            </ul>

                        </div>
                        <div class="timeline-footer">
                            <p>
                                <span class="label label-danger">Photo Shop</span>
                                <span class="label label-info">HTML5</span>
                                <span class="label label-warning">CSS3</span>
                                <span class="label label-primary">Bootstrap</span>
                                <span class="label label-warning">Java Script</span>
                                <span class="label label-primary">Bootstrap</span>
                                <span class="label label-danger">jQuery</span>
                                <span class="label label-info">Angular JS</span>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <i class="fa fa-clock-o bg-gray"></i>
                </li>
            </ul>
        </div><!-- /.col -->
    </div>
</section><!-- /.content -->
<section class="content">
    <!-- row -->
    <div class="row">
        <div class="col-md-12">
            <!-- The time line -->
            <ul class="timeline">
                <li class="time-label">
                    <span class="bg-red-gradient">
                        Aug 2015 - Feb 2016
                    </span>
                </li>
                <li>
                    <i class="fa fa-suitcase bg-blue-gradient text-white"></i>
                    <div class="timeline-item">
                        <span class="time text-bold"> Contract</span>
                        <h3 class="timeline-header"><a href="http://kmitsolutions.com" target="_blank">Web Developer - Purdue University Northwest</a></h3>
                        <div class="timeline-body">
                            <ul>
                                <li>Coordinated regular reviews and updates of website content</li>      
                                <li>Assisted in gathering requirements</li>
                                <li>Writing code, maintains documentation, and supports applications use</li>
                            </ul>

                        </div>
                        <div class="timeline-footer">
                            <p>
                                <span class="label label-danger">HTML 5</span>
                                <span class="label label-success">CSS 3</span>
                                <span class="label label-warning">Java Script</span>
                                <span class="label label-primary">Bootstrap</span>
                                <span class="label label-danger">jQuery</span>
                                <span class="label label-info">Angular JS</span>
                                
                            </p> 
                        </div>
                    </div>
                </li>
                <li class="time-label">
                    <span class="bg-green-gradient">
                        Feb 2013 - Dec 2014
                    </span>
                </li>
                <li>
                    <i class="fa fa-pencil-square-o bg-yellow-gradient text-white"></i>
                    <div class="timeline-item">
                        <span class="time text-bold"> Full Time</span>
                        <h3 class="timeline-header"><a>Front End Developer - Riktam Technology </a></h3>
                        <div class="timeline-body">
                            <ul>
                                <li>Recommend software upgrades to optimize operational efficiency</li>
                                <li>Performed routine software maintenance</li>
                                <li>Documented all programming tasks and procedures</li>
                                <li> Created flowcharts and user guides for new and existing programs</li>

                            </ul>

                        </div>
                        <div class="timeline-footer">
                            <p>
                                <span class="label label-danger">Photo Shop</span>
                                <span class="label label-info">HTML5</span>
                                <span class="label label-warning">CSS3</span>
                                <span class="label label-primary">Bootstrap</span>
                                <span class="label label-warning">Java Script</span>
                                <span class="label label-primary">Bootstrap</span>
                                <span class="label label-danger">jQuery</span>
                                <span class="label label-info">Angular JS</span>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <i class="fa fa-clock-o bg-gray"></i>
                </li>
            </ul>
        </div><!-- /.col -->
    </div>
</section><!-- /.content -->